body {
      margin: 0;
      font-family: 'Arial', sans-serif;
}

header {
      position: sticky;
      background: rgb(54,0,2);
      background: linear-gradient(90deg, rgba(54,0,2,1) 0%, rgba(130,2,2,1) 50%, rgba(255,0,0,1) 100%);
      padding: 10px 0;
}

.container {
      display: flex;
      justify-content:space-evenly;
      align-items: center;
      max-width: 100%;
      margin-left: 15vw; 
      margin-right: 15vw; 
}
.navbar {
      display: flex;
      justify-content:space-evenly;
      align-items: center;
      max-width: 100%;
      margin-left: 15vw; 
      margin-right: 15vw;
}
.logo img {
      height: 3vw;
}

nav ul {
      list-style: none;
      display: flex;
}

nav ul li {
      margin-right: 20px;
}

nav a {
      text-decoration: none;
      color: #fff;
      font-size: 1.6vw;
      transition: color 1s ease, 1s ease; 
      padding: 10px;
      border-radius: 5px;
}

nav a:hover {
      color: #000;
      background-color: white;
      transition: color 1s ease, background-color 1s ease; 
  }